Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-unix.*,
  clang-analyzer-security.insecureAPI.*,
  bugprone-*,
  cert-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false